<div ng-include="'partials/nav.html'"></div>

<div ng-controller="photoCtrl">
<table>
      <tr>
        <th>Photo</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Album</th>
      </tr>
      <input type="text" ng-model="search" />


      <tr ng-repeat="photo in photos | filter: photoCtrl.search:photo.strict | orderBy: 'name' ">
        <td><img src="{{photo.photoURL}}"></td>
        <td>{{photo.description}}</td>
        <td>{{photo.tags}}</td>
        <td>{{photo.album}}</td>
      </tr>
    </table>
  </div>